nav {
    color : blue
}
nav {
    background-color: aliceblue;
}

nav li a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
   margin: 20px;
}

nav ul {
    text-align: center;
}
main article {
    margin: 800
}

main article #team {
    margin: 20
}